{{#each this}}
<div class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
  <div class="info">
    <p class="info-item js-info-likes">
      <b>Likes</b>
    </p>
    <p class="info-item js-info-views">
      <b>Views</b>
    </p>
    <p class="info-item js-info-comments">
      <b>Comments</b>
    </p>
    <p class="info-item js-info-downloads">
      <b>Downloads</b>
    </p>
  </div>
</div>
{{/each}}

{{!-- webformatURL - посилання на маленьке зображення для списку карток.
largeImageURL - посилання на велике зображення.
tags - рядок з описом зображення. Підійде для атрибуту alt.
likes - кількість лайків.
views - кількість переглядів.
comments - кількість коментарів.
downloads - кількість завантажень. --}}